header{
	width:100%;
	height:40px;
	background:#ACDCCE;
	opacity:0.8;
	margin:0 auto;
	position:fixed;
	top:0;
	box-shadow: 0 2px 3px #aaa;
}
header ul{
	width:100%;
	margin-top:5px;
}
header ul li{
	display:inline-block;
	font-size:20px;
	color:#fff;
}
header ul li a{
	color:#fff;
}
header ul li a:hover{
	transition: 500ms;
	text-decoration:none;
	color:#fff;
}
header p{
	font-size:40px;
	color:#fff;
}
body{
	background-image:url("img/bg.png");
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment:fixed;
	background-position:50% 0%;
	margin:0;
	overflow-x:hidden;
	overflow-y:auto;
	font-size:18px;
}
body a{
	color:#aaa;
}
body a:link { 
	text-decoration: none;color: #fff;
}
body a:active { 
	text-decoration:blink;
}
body a:hover { text-decoration:none;color: #fff;
} 
body a:visited { text-decoration: none;color: #fff;
}
#enter{
	width:300px;
	height:300px;
	position:relative;
	margin:0 auto;
	top:20%;
	opacity:1;
	border-radius:50%;
	box-shadow: 0 3px 2px #aaa;
	
}
#enter:hover{
	top:18%;
	width:320px;
	height:320px;
	transition: 800ms;
}
.logo{
	height:30px;
	
}
.icon{
	position:relative;
	left:76%;
	display:inline-block;
	width:30px;
	margin-right:13px;
}
.dropdown-toggle{
	color:#fff;
}

.cellDiv{
	display:inline-block;
	width:20vw;
	height:25vh;
	float:left;
	
}
.footer{
	position:fixed;
	bottom:0;
	margin:0 auto;
	
}
.personPage{
	width:800px; 
	height: 500px; 
	display: block;
}
.userPic{
	display:inline-block;
	width: 130px; 
	height: 130px; 
	border-radius: 50%; 
	background-image:url('pic/user.jpg'); 
	background-repeat: no-repeat;
}
.profile{
	display:inline-block;
	position:relative;
	width:300px;
	float:right;
}
.username{
	width:100px;
	position:relative;
	left:30px;
	font-size:2em;
}
.progressDiv{
	width:340px;
	height:200px;
	border-radius:10px;
	margin-top:10%;
}
.progress{
	display:inline-block;
	position:relative;
	left:5%;
	width:300px;
}
.glyphicon-star{
	float:left;
}
.pageW{
	height:100vh;
	z-index:-10000;
	background-color:#fff;
}
.pageG{
	height:100vh;
	z-index:-10000;
	background-color:#ACDCCE;
}
.courseSelector{
	width:20px;
	height:130px;
	position:fixed;
	top:40%;
	left:5%;
}
.selectorCircle{
	width:15px;
	height:15px;
	border-radius:50%;
	background-color:#F4ACB7;
	margin-top:20px;	
}
.selectorCircle:hover{
	background-color:#FFCAD4;
}

.d-menu li{
	background-color:#CBDBD0;
	width:100px;
}
.d-menu li:hover{
	background-color:#ACDCCE;
}

.dropdown-toggle{
	width:30px;
	height:30px;
	background-image:url('pic/Menu.png');
}

.testPde{
	position:relative;
	top:5%;
	left:30%;
}
